@font-face {
    font-family: 'Effra', sans-serif;
    src: url("../fonts/Effra_Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Effra', sans-serif;
    src: url("../fonts/Effra_Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'Effra', sans-serif;
    src: url("../fonts/Effra_Light.ttf");
    font-weight: 300;
}


@font-face {
    font-family: 'Effra', sans-serif;
    src: url("../fonts/Effra_Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: 'Effra', sans-serif;
    src: url("../fonts/Effra_Heavy.ttf");
    font-weight: 900;
}


@font-face {
    font-family: 'GoodDog';
    src: url("../fonts/GoodDog_Regular.ttf");
    font-weight: 400;
}
