html{
    box-sizing: border-box;
}
*, 
*::after,
*::before{
    box-sizing: inherit;
}
body{
    font-size: 18px;
    font-family: 'Effra', sans-serif;
    font-weight: 400;
}

.visually-hidden{
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.container{
    max-width: 1440px;
    padding: 0 80px;
    margin: auto;
}   

@media screen and (max-width: 1045px) {
    .container{
        padding: 0 30px;
    }
}

// Button styles

.btn{
    text-decoration: none;
    padding: 12px 22px;
    min-width: 129px;
    border-radius: 40px;

    &--login{
        color: white;
    }
    &--register{
        background-color: white;
        color: black;
    }

    &--start{
        color: black;
        background-color: #A8FF35;
    }
}