.header{
    
    color: white;
    min-height: 120vh;
    background: url("../../image/hero-bg.png") no-repeat;
    background-color: #000000;
}

.navbar{
    padding-top: 27px;
    padding-bottom: 27px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo{
        &__img{
            display: block;
        }
    }
    &__menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    &__nav{

    }
    .toggle{
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 40px;
        height: 20px;
        &::after, &::before{
            transition: transform .3s ease;
            content: "";
            width: 100%;
            height: 3px;
            background-color: rgb(243, 227, 8);
        }
    }
    .nav{   
        margin:0 auto;

        display: flex;
        column-gap: 30px;
        list-style: none;
        &__item{
            display: flex;
        }
        &__link{
            color: white;
            text-decoration: none;
        }
    }
}

.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    &__title{
        font-weight: 900;
        font-size: 72px;
        line-height: 112%;
        /* identical to box height, or 81px */
        width: 70%;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 0;

    }
    
    &__description{
        line-height: 150%;
        text-align: center;
        color: #8B8B8B;
        width: 70%;
        margin:40px auto;
    }

    &__start{
        padding-left: 32px;
        padding-right: 32px;
        font-weight: 700;
    }

    &__second{
        margin-top:95px ;
        margin-bottom:91px;
    }

    .social{
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 178px;
    
        &__item{
                position: absolute;
                
                &:nth-child(2n){
                    bottom: 0;
                }
                &:nth-child(2n+1){
                    top: 0;
                }
        }
        &__twitter{
            left: 0;
            z-index: 8;
        }
        &__pinterest{
            z-index: 7;
            right: 50%;
            transform: translateX(15%);
        }
        &__facebook{
            z-index: 6;
            left: 50%;
            transform: translateX(-15%);
        }
        &__reddit{
            right: 0;
            z-index: 5;
        }
    }
}

@media screen and (max-width: 1045px) {
    .navbar{
        .toggle{
            display: flex;
            cursor: pointer;
            &--active{
                &::before{
                    transform:translate(0, 8px) rotate(45deg);
                }
                &::after{
                    transform: translate(0, -8px) rotate(-45deg);
                }
            & ~ .navbar__menu{
                display: flex;
            }
            }


        }
        &__menu{
            position: absolute;
            flex-direction: column;
            bottom: 0;
            display: none;
        }

        &__nav{
            flex-direction: column;
        }
    }
}